<h1>Trimet for Status Board</h1>
<h2>Please enter your <a href="http://trimet.org">TriMet</a> StopID</h2>
<h3>I will then direct you to a link that you can import to Status Board</h3>
<form name="input" action="/arrivals">
	<input type="text" name="id" id="id" class="id" placeholder="7767">
	<input type="submit" value="Submit">
</form>
<p>By <a href="http://twitter.com/aley">@aley</a>. View on <a href="https://github.com/ColbyAley/trimet-statusboard">Github</a></p>